* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: aliceblue;
}


#games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .game {
        img{
            width: 200px;
            height: 200px;
        }
        
    }
}

.gamenamehide {
    display: none;
}

.hidegame {
    display: none;
}

