:root {
    --passivebuttonbgcolor: white;
    --passivebuttonbgcolorhover: rgb(231, 231, 231);
    --highlightcolor: rgb(255, 98, 0);
    --midcolor: #FFBC92;
    --lowcolor: rgb(255, 244, 237);
    --gamesize: 250px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: var(--midcolor);
    padding: 2rem;
    height: 7rem;
position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  h1 {
    z-index: 21;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
    font-size: 3rem;
    color: var(--highlightcolor);
    font-weight: 700;
  }
  div {
    z-index: 21;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: end;
  }
}

header::after {
    z-index: 20;
    border-radius: 100%;
  position: absolute;
  background: var(--lowcolor);
  right: -200px;
  left: -200px;
  top: -100px;
  content: '';
  bottom: 0;
}

.button {
    all: unset;
        cursor: pointer;
        padding: 0.7rem 1rem;
        color: var(--highlightcolor);
        background-color: white;
        border: 1px solid var(--highlightcolor);
        border-radius: 3000px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            height: 1rem;
            margin-right: 0.7rem;
            fill: var(--highlightcolor);
        }
}

.button:hover {
        background-color: var(--lowcolor);
    }

#currentFilters {
    z-index: 10;
    background-color: var(--midcolor);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 1rem 2rem;
    #filterMenu {
        all: unset;
        cursor: pointer;
        padding: 0.7rem 1rem;
        color: var(--highlightcolor);
        background-color: white;
        border: 1px solid var(--highlightcolor);
        border-radius: 3000px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            height: 1rem;
            margin-right: 0.7rem;
            fill: var(--highlightcolor);
        }
    }
    #filterMenu:hover {
        background-color: var(--lowcolor);
    }
    .filterMenuActive {
        background-color: var(--highlightcolor) !important;
        color: white !important;
        svg {
            fill: white !important;
        }
    }
    .filterMenuActive:hover {
        background-color: rgb(40, 40, 40);
    }

    #numberItems {
        align-self: flex-end;
    }
    // #activeFilters {
    //     .activefilter {
    //         all: unset;
    //         cursor: pointer;
    //         text-align: center;
    //         padding: 0.5rem 1.5rem;
    //         background-color: rgb(194, 194, 194);
    //         color: black;
    //         border-radius: 3000px;
    //     }
    //     .activefilter:hover {
    //         background-color: rgb(135, 135, 135);
    //     }
    // }
    }


#maincontent {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: flex-start;
}
#games {
    grid-column-start: 1;
    grid-column-end: 3;
    height: auto;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--gamesize), max-content));
    justify-content: center;
}


#filters {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: var(--lowcolor);
    display: none;
    padding: 2rem;
    height: auto;
    .filterButton {
        all: unset;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.7rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        svg {
            width: 24px;
            height: 24px;
            pointer-events: none;
            fill: var(--highlightcolor);
        }
        span {
            pointer-events: none;
        }
    }
    .filterButton:hover {
        background-color: var(--passivebuttonbgcolorhover);
    }
    .filtertypelist {
        margin-bottom: 1rem;
        display: none;
        .filtercheckbox {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0.7rem;
            border-radius: 5px;
            margin-bottom: 0.5rem;
            span {
                margin-left: 1rem;
            }
            input[type="checkbox"] {
                /* Add if not using autoprefixer */
                -webkit-appearance: none;
                /* Remove most all native input styles */
                appearance: none;
                /* For iOS < 15 */
                background-color: none;
                /* Not removed via appearance */
                margin: 0;
              
                font: inherit;
                color: black;
                width: 24px;
                height: 24px;
                border: 2px solid black;
                border-radius: 50%;
                transform: translateY(-0.075em);
                display: grid;
                place-content: center;
              }
              input[type="checkbox"]::before {
                content: "";
                width: 16px;
                height: 16px;
                clip-path: circle();
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em var(--highlightcolor);
                /* Windows High Contrast Mode */
                background-color: CanvasText;
              }
            
              input[type="checkbox"]:checked::before {
                transform: scale(1);
              }
        }
        .filtercheckbox:hover {
            background-color: var(--passivebuttonbgcolorhover);
        }
    }
}