:root {
    --passivebuttonbgcolor: white;
    --passivebuttonbgcolorhover: rgb(231, 231, 231);
    --highlightcolor: rgb(255, 98, 0);
    --midcolor: #FFBC92;
    --lowcolor: rgb(255, 244, 237);
}

* {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*:-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

header {
    background-color: var(--midcolor);
    padding: 1rem;
    height: 7rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;

    h1 {
        z-index: 21;
        align-self: center;
        font-size: 3rem;
        color: var(--highlightcolor);
        font-weight: 700;
    }

    div {
        z-index: 21;
        align-self: end;
        height: 2rem;
        width: 2rem;
        transition: 120ms transform ease-in-out;

        svg {
            height: 100%;
            width: 100%;
            fill: var(--highlightcolor);
        }
    }
}

@media (min-width: 600px) {
    header {
        padding: 2rem;

        div:hover {
            transform: rotate(45deg);
            transition: 120ms transform ease-in-out;
        }
    }
}

header::after {
    z-index: 20;
    border-radius: 100%;
    position: absolute;
    background: var(--lowcolor);
    right: -200px;
    left: -200px;
    top: -100px;
    content: '';
    bottom: 0;
}

.button {
    all: unset;
    cursor: pointer;
    padding: 0.7rem 1rem;
    color: var(--highlightcolor);
    background-color: white;
    border: 1px solid var(--highlightcolor);
    border-radius: 3000px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        height: 1rem;
        margin-right: 0.7rem;
        fill: var(--highlightcolor);
    }
}

.button:hover {
    background-color: var(--lowcolor);
}

#subHeader {
    z-index: 10;
    background-color: var(--midcolor);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem;

    #filterMenu {
        all: unset;
        cursor: pointer;
        padding: 0.7rem 1rem;
        color: var(--highlightcolor);
        background-color: white;
        border: 1px solid var(--highlightcolor);
        border-radius: 3000px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            height: 1rem;
            margin-right: 0.7rem;
            fill: var(--highlightcolor);
        }
    }

    #filterMenu:hover {
        background-color: var(--lowcolor);
    }

    .filterMenuActive {
        background-color: var(--highlightcolor) !important;
        color: white !important;

        svg {
            fill: white !important;
        }
    }

    .filterMenuActive:hover {
        background-color: rgb(40, 40, 40);
    }
}

@media (min-width: 600px) {
    #subHeader {
        padding: 0 2rem 1rem 2rem;
    }
}

main {
    display: flex;
    flex-direction: column;

    #filters {
        z-index: 40;
        background-color: var(--lowcolor);
        display: none;
        padding: 1rem;

        .filterButton {

            all: unset;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0.7rem;
            border-radius: 5px;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            box-sizing: border-box;

            svg {
                width: 24px;
                height: 24px;
                pointer-events: none;
                fill: var(--highlightcolor);
            }

            span {
                pointer-events: none;
            }
        }

        .filtertypelist {
            margin-bottom: 1rem;
            display: none;

            .filtercheckbox {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0.7rem;
                border-radius: 5px;
                margin-bottom: 0.5rem;

                span {
                    margin-left: 1rem;
                }

                input[type="checkbox"] {
                    /* Add if not using autoprefixer */
                    -webkit-appearance: none;
                    /* Remove most all native input styles */
                    appearance: none;
                    /* For iOS < 15 */
                    background-color: none;
                    /* Not removed via appearance */
                    margin: 0;

                    font: inherit;
                    color: black;
                    width: 24px;
                    height: 24px;
                    border: 2px solid black;
                    border-radius: 50%;
                    transform: translateY(-0.075em);
                    display: grid;
                    place-content: center;
                }

                input[type="checkbox"]::before {
                    content: "";
                    width: 16px;
                    height: 16px;
                    clip-path: circle();
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                    box-shadow: inset 1em 1em var(--highlightcolor);
                    /* Windows High Contrast Mode */
                    background-color: CanvasText;
                }

                input[type="checkbox"]:checked::before {
                    transform: scale(1);
                }
            }


        }
    }

}


@media (min-width: 800px) {
    main {
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    #games {
        flex-grow: 4;
        margin-top: 2rem;
    }

    #filters {
        position: relative;
        flex-grow: 1;
        padding: 2rem;

        .filterButton:hover {
            background-color: var(--passivebuttonbgcolorhover);
        }

        .filtercheckbox:hover {
            background-color: var(--passivebuttonbgcolorhover);
        }

    }
}