* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

@font-face {
    font-family: 'Playstation1';
    src: url(../media/fonts/noncommercial/zrnic\ rg.otf);
}

@font-face {
    font-family: 'Playstation2';
    src: url(../media/fonts/noncommercial/btseps2.TTF);
}

@font-face {
    font-family: 'Playstation345V';
    src: url(../media/fonts/noncommercial/PsBold-2Oy2w.ttf);
}

@font-face {
    font-family: 'Impact';
    src: url(../media/fonts/noncommercial/Impact.ttf);
}

nav#navbar {
    background-color: aliceblue;
    padding: 1em;
    input {
        transform: scale(2);
        margin: 1em;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    .modal-content {
        margin: 50px auto;
        border: 1px solid #999;
        width: 60%;
      }
      h2,
  p {
    margin: 0 0 20px;
    font-weight: 400;
    color: #999;
  }
  span {
    color: #666;
    display: block;
    padding: 0 0 5px;
  }
  form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: #eee;
  }
  input,
  textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #1c87c9;
    outline: none;
  }
  .contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1c87c9;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
  button:hover {
    background: #2371a0;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  button.button {
    background: none;
    border-top: none;
    outline: none;
    border-right: none;
    border-left: none;
    border-bottom: #02274a 1px solid;
    padding: 0 0 3px 0;
    font-size: 16px;
    cursor: pointer;
  }
  button.button:hover {
    border-bottom: #a99567 1px solid;
    color: #a99567;
  }
  }

  


#games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    justify-content: center;
    padding: initial;
    .game {
        display: none;
        z-index: 10;
        width: 250px;
        height: 250px;
        position: relative;
        transition: transform .2s;
        .game-image{
            position: absolute;
            top: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .gameinfo {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                "console idk2 pegi" 
                "name name name"
                "isborrowed idk3 like";
                align-items: baseline;
            opacity: 0;
            transition: 0.2s;
            p {
                color: white;
                margin: 1rem;
            }
            .info-console {
                grid-area: console;
            }
            .info-name{
                grid-area: name;
                text-align: left;
                font-weight: 600;
                font-size: 1.2rem;
                
            }
            .info-is-borrowed {
                grid-area: isborrowed;
                align-self: end;
                font-style: italic;
            }

            .info-is-liked {
                grid-area: like;
                align-self: end;
                justify-self: end;
                height: 2rem;
                width: 2rem;
                margin: 0.5rem;
            }

            .info-pegi {
                grid-area: pegi;
                border: 2px solid black;
                height: fit-content;
                width: min-content;
                font-size: 1.5rem;
                padding: 0.3rem 0.2rem;
                text-align: center;
                font-family: 'Impact', Impact, sans-serif;
            }
            .info-pegi3, .info-pegi7  {
                background-color: rgb(99, 205, 0);
                padding: 0.3rem 0.5rem;
            }
            
            .info-pegi16, .info-pegi12 {
                background-color: rgb(255, 200, 0);
            }

            .info-pegi18 {
                background-color: rgb(255, 0, 0);
            }
        }
        .psgameinfo {
            background-color: rgba(0, 0, 139, 0.7);
        }
    }
    .game:hover {
        z-index: 20;
        transform: scale(1.05);
        .gameinfo {
            opacity: 100%;
            transition: 0.2s;
        }
    }
    .ps1 .info-console {
        font-family: 'Playstation1', monospace;
        font-size: 1.2rem;
    }
    .ps2 .info-console {
        font-family: 'Playstation2', monospace;
        font-size: 1.5rem;
    }
    .ps3 .info-console, .ps4 .info-console, .ps5 .info-console, .psv .info-console {
        font-family: 'Playstation345V', monospace;
    }
}

.categories {
    display: none;
}

.gameinfo {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p:first-of-type {
        font-family: 'Playstation', monospace;
    }
}

.gamenamehide {
    //display: none;
    z-index: 20;
}

.hidegame {
    display: none;
}

